<%= render 'shared/cover' %>

<h1>検索結果</h1>

<div class="col-md-3">
        <%= render 'welcomes/find' %>
        <br>
        <h4>カテゴリーから探す</h4>
        <%= render 'shared/category_search' %>
</div>

<div class="search-result">
  <% if @training_contents.present? %>
  
    <%= render 'training_contents/training_contents', training_contents: @training_contents %>
    
  <% elsif params[:fstr].present? %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      検索したプランはありません
    </div>
  <% end %>
</div>