<div id = "sports_type">
<%= form_for(@player) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.select :sports_type, ['陸上',
'水泳',
'体操',
'自転車',
'格闘技',
'テニス',
'サッカー',
'野球',
'ソフトボール',
'アメリカンフットボール',
'ラグビー',
'ゴルフ',
'ボーリング',
'ラクロス',
'卓球',
'バスケットボール',
'スキー',
'スノーボード',
'他のスポーツ'] ,{ include_blank: '好きなスポーツを選択してください' }, class: 'form-control' %>

<% end %>
</div>